body {
  font-family: "Segoe UI";
  background: #212121;
}

h1 {
  color: rgb(151, 151, 151);
  margin-bottom: 0;
  text-align: center;
  font-size: 40px;
}

.frame {
  height: 450px;
  width: 40%;
  margin-top: 20px;
  margin-left: 29%;
  border: 2px solid rgba(68, 68, 68, 0.18);
  border-radius: 7px;
  box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.18);
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
.frame::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
  overflow-y: scroll;
}

#userInput {
  padding: 10px;
  margin-left: 375px;
  margin-right: auto;
  width: 43%;
}

#textInput {
  width: 81%;
  border: none;
  font-family: "Segoe UI";
  font-size: 17px;
  border-radius: 3px;
  box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.18);
  color: #ffffff;
  background-color: #414141;
  border-color: #414141;
}

#buttonInput {
  padding: 1px 20px;
  font-family: "Segoe UI";
  font-size: 17px;
  background-color: #50ef9f;
  border-color: #50ef9f;
  font-weight: 600;
  text-transform: uppercase;
}

.userText {
  color: white;
  font-family: "Segoe UI";
  font-size: 13px;
  text-align: left;
  line-height: 30px;
}

.userText span {
  background-color: #50ef9f;
  padding: 7px;
  border-radius: 5px;
}

.botText {
  color: white;
  font-family: "Segoe UI";
  font-size: 13px;
  text-align: right;
  line-height: 30px;
}

.botText span {
  background-color: #000000;
  padding: 7px;
  border-radius: 5px;
}
